<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <header>
        <div class="top-header">
            <div class="container">
                <div class="contact-info">
                    <div class="email-container">
                        <i class="far fa-envelope email-icon"></i>
                        <a href="mailto:brickwickconstruction@gmail.com">brickwickconstruction@gmail.com</a>
                    </div>
                    <div class="social-icons">
                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
                        <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="phone-container">
                        <i class="fa-solid fa-phone" style="color:red;"></i>
                        <span class="phone-number">+918830344819</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-header">
            <div class="logo-wrapper">
                <div class="logo-container">
                    <a href="index.html" class="logo">
                        <img src="pictures\Group 7.png" alt="BrickWick Construction">
                    </a>
                </div>
            </div>
            <div class="nav-wrapper">
                <div class="container">
                    <div class="nav-container">
                        <nav class="navbar">
                            <div class="hamburger">
                                <i class="fas fa-bars"></i>
                            </div>
                            <ul class="nav-menu">
                                <div class="close-menu">
                                    <i class="fas fa-times"></i>
                                </div>
                                <li class="nav-item"><a href="new.html" class="nav-link">Home</a></li>
                                <li class="nav-item"><a href="about-us.html" class="nav-link">About Us</a></li>
                                <li class="nav-item"><a href="#services" class="nav-link">Services</a></li>
                                <li class="nav-item"><a href="#packages" class="nav-link">Packages</a></li>
                                <li class="nav-item"><a href="#projects" class="nav-link">Projects</a></li>
                                <li class="nav-item"><a href="#blog" class="nav-link">Blog</a></li>
                                <li class="nav-item"><a href="#testimonial" class="nav-link">Client Testimonial</a></li>
                                <li class="nav-item dropdown"><a href="#locations" class="nav-link">Locations <i class="fas fa-caret-down"></i></a></li>
                                <li class="nav-item dropdown"><a href="#more" class="nav-link">More <i class="fas fa-caret-down"></i></a></li>
                                <li class="nav-item"><a href="#contact" class="nav-link">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
</body>
</html>